.user-actions 
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.user-actions button:hover:not(:disabled) 
{
  background-color: #0056b3;
}

.user-actions .delete-btn 
{
  border: 1px solid #d9534f;
  background-color: transparent;
  color: #d9534f;
}

.user-actions .delete-btn:hover:not(:disabled) 
{
  background-color: #d9534f;
  color: white;
}

.user-actions button:disabled 
{
  opacity: 0.6;
  cursor: not-allowed;
}